#studio-companion-notice {
    padding: 2px 32px;
    background-color: #3858E9;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    gap: 8px;
    font-family: 'Inter', '-apple-system', sans-serif;
}

#studio-companion-notice a {
    margin-left: 12px;
    color: #FFFFFF;
    text-underline-offset: 4px;
}

#studio-companion-notice__close {
    margin-left: auto;
    cursor: pointer;
    background: none;
    border: none;
    appearance: none;
}

#studio-companion-notice__close:hover {
    opacity: 0.7;
}